---
import Posts from "../../config/post.json"
import ButonBlog from "./Buton-blog.astro";


let sidebarPost:any = [];


const postFinish = ()=>{
    let min:any = Posts.length - 6
    let max:any = Posts.length

    return(
    [...Posts]
    .reverse()
    .slice(min, max)
    .sort(()=>Math.random()>0.5 ? 1 : -1)
    )   
}

sidebarPost.push(postFinish())

---

{
    sidebarPost[0].map((post:any)=>(  
    <div class="principal-container__card" id={post.id}>

        <div class="content-container">
                    <p class="posted-by">posted by: {post.autor} </p>
                    <img src={post.img} alt="post img">
                    <a href={post.href}>
                        <div class="title-container">
                            <h3>{post.title}</h3>
                            <p>{post.contentReduce}</p>
                        </div>    
                    </a>
        </div>
    </div>
    ))

}


<style>
         .principal-container__card{
            width: 100%;
            padding: 10px 15px;
         }

        .content-container{
            position: relative;
            height: 250px;
            margin: 10px 0;
        }

        img{
            position: absolute;
            height: 226px;
            object-fit: cover;
        }

        a{
            position: absolute;
            width: 100%;
            bottom: 0;

        }

        .posted-by{
            color: rgb(176, 176, 176) ;
        }
        
        .title-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: rgba(0, 0, 0, .8);
            padding: 15px 10px;
            transition: all .3s ease-in-out;
        }

        .title-container:hover{
            padding: 25px 10px;
            background-color:rgb(93, 68, 235, .8);
        }
        
        .title-container > h3{
            text-transform: uppercase;
        }
    
         .text-content__card{
             padding: 5px 15px;
             width: 100%;
             height: 100px;
             overflow: hidden;
         }
    
         h3{
             font-size: 19px;
             font-weight: bold;
             color: white;
         }
    
         p{
             color: white;
             overflow: hidden;
             white-space: nowrap;
             text-overflow: ellipsis;
         }
    
         h3, p, h4 {
             font-family: 'Roboto', sans-serif;
         }
    
     </style>
